<header>
        <h1>Carly Moses</h1>

        <section class="contact_info">
            <section>
                <img src="app/styles/images/github.png" class="logo"><a class="logo_a" href="https://github.com/carly-moses"> carly-moses  <span>|</span> </a>
            </section>
            <section>
                <img src="app/styles/images/email.png" class="logo"><a class="logo_a" href="cmoses916@gmail.com"> cmoses916@gmail.com  <span>|</span> </a>
            </section>
            <section>
                <img src="app/styles/images/linkedin.png" class="linkedin_logo"><a class="logo_a" href="https://www.linkedin.com/in/carly-moses/"> carly-moses </a>
            </section>
        </section>
        <h4>From Elementary School teacher to teaching the next generation of web developers - I am ready to use my technical and communication skills to join a new team of developers. I landed at Grand Circus to learn the necessary skills at an accelerated pace and was asked to stay on as the Teaching Assistant for the Front-End Bootcamp. Not only do I enjoy creating responsive web applications, but I love the fact that I am able to continue learning and growing in an ever evolving industry.</h4> 
    </header>

    <section class="container">
        <section class="project">
            <h2>The Grand Escape</h2>
            <a href="https://avport.github.io/theGrandEscape/app/public/index.html#!/welcome"><img src="app/styles/images/grandEscape.png"></a>
            <section class="overlay">
                <section class="info">
                    <p><a href="https://avport.github.io/theGrandEscape/app/public/index.html#!/welcome">The Grand Escape</a> is a responsive web application highlighting AngularJS, CSS, and the use of Open Trivia Database. This was created with a team of four before graduating from Grand Circus.<span class="caution">Caution: </span>If you are an Apple owner, please open in Firefox or spoil the name of the game!</p>
                    
                </section>
            </section>
        </section>

        <section class="project">
            <h2>A.M.P.</h2>
            <a href="https://ristaujo.github.io/angularProject/#!/movielist"><img src="app/styles/images/amp.png"></a>
            <section class="overlay">
                <section class="info">
                    <p>Just <a href="https://ristaujo.github.io/angularProject/#!/movielist">Another Movie Project</a> was created with a team of three and hightlights AngularJS and CSS while making calls to the Movie Database to retrieve a list of popular movies. Go ahead and take a look. Be sure to save your favorite movies!</p>
                </section>
            </section>
        </section>

        <section class="project">
            <h2>Motor City Memory</h2>
            <a href="https://nickburnell.github.io/Midterm-Memoryboard/"><img src="app/styles/images/motorcityMem.png"></a>
            <section class="overlay">
                <section class="info">
                    <p><a href="https://nickburnell.github.io/Midterm-Memoryboard/">Motor City Memory</a> was the first group project at Grand Circus to highlight our jQuery skills. This project was created with a group of four. See if you can get all 600 points! </p>
                </section>
            </section>
        </section>

        <section class="project">
            <h2>AngularJS Profile</h2>
            <a href="https://carly-moses.github.io/AngularProfile/#!/profile"><img src="app/styles/images/profile.png"></a>
            <section class="overlay">
                <section class="info">
                    <p>Meet Milo! <a href="https://carly-moses.github.io/AngularProfile/">Milo's profile </a> is an AngularJS lab implementing a service and routing with styling replicating the given wireframe. I cannot confirm nor deny the fact that I am indeed a crazy dog mom. </p>
                </section>
            </section>
        </section>

        <section class="project">
            <h2>Shopping Cart</h2>
            <a href=""><img src="app/styles/images/shopping.png"></a>
            <section class="overlay">
                <section class="info">
                    <p><a href="https://carly-moses.github.io/FullStackExpress/public"> Carly's Cart</a> uses AngularJS to display a list of grocery store products the user inputs and then stores the data in a PostgreSQL Database. <span class="caution">Caution: </span> This project will soon be hosted by heroku, but for now you will have to clone and run with a live server.</p>
                </section>
            </section>
        </section>

        <section class="project">
            <h2>AngularJS TODO</h2>
            <a href=""><img src="app/styles/images/todo.png"></a>
            <section class="overlay">
                <section class="info">
                    <p>This AngularJS lab is an example of a stand alone controller using ngRepeat and other AngularJS directives to display a <a href="https://carly-moses.github.io/AngularTODOList/">list of TODOs</a>. This lab was styled based on the given wireframe. </p>
                </section>
            </section>
        </section>

        <section class="project">
            <h2>jQuery Table Reservation</h2>
            <a href=""><img src="app/styles/images/tableres.png"></a>
            <section class="overlay">
                <section class="info">
                    <p>This jQuery <a href="https://carly-moses.github.io/jQuery-tableRes/">Table Reservation</a> application shows the use of DOM manipulation, creating attributes, and changing styling based on classes. How many do you have in your party this evening?</p>
                </section>
            </section>
        </section>

        <section class="project">
            <h2>Wonderful World of Recipes</h2>
            <a href=""><img src="app/styles/images/caution.jpg"></a>
            <section class="overlay">
                <section class="info">
                    <p>This <a href="https://github.com/carly-moses/recipesAPI">Wonderful World of Recipes</a> is a work in progress. I am currently accessing data from the Edamam API. I have some data displaying on the page if you insert information into all input fields.</p>
                </section>
            </section>
        </section>

        <section class="project html_css">
            <h2>Guizar Automotive Solutions</h2>
            <a href=""><img src="app/styles/images/caution.jpg"></a>
            <section class="overlay">
                <section class="info">
                    <p><a href="https://carly-moses.github.io/guizarAuto/public/">Guizar Automotive Solutions</a> is the beginning of a website being created for a new company. Feel free to continue checking in on the progress.</p>
                </section>
            </section>
        </section>
    </section>

    <footer>
        
        <section>
            <img src="app/styles/images/github.png" class="logo"><a class="logo_a" href="https://github.com/carly-moses">carly-moses</a>
        </section>
        <section>
            <img src="app/styles/images/email.png" class="logo"><a class="logo_a" href="cmoses916@gmail.com">cmoses916@gmail.com</a>
        </section>
        <section>
            <img src="app/styles/images/linkedin.png" class="linkedin_logo"><a class="logo_a" href="https://www.linkedin.com/in/carly-moses/"> carly-moses</a>
        </section>
        
    </footer>